/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= 1140
 *= form
 *= require_self
 *= require_tree .
*/

@font-face 
{
	font-family: 'TradeGothic Condensed Bold';
	src: url('tgcbold.ttf');
}

@font-face 
{
	font-family: 'TradeGothic';
	src: url('tg.ttf');
}



body {
	color:#696969;
}

.inner { 
	nav {
		padding-left:0px;
		a, a:visited {
			font-family: 'Helvetica', Arial,  sans-serif ;
			color:#3cb3d0;
			text-decoration:none;
		}
		a:hover {
			color:#2596b2;
			text-decoration:none;
		}
	}
}

nav {
	width:100%;
	height:50px;
	margin-left:-25px;
	overflow:hidden;
	ul {
		list-style:none;
	  display:block;
	}
	li {
		font-family: 'TradeGothic Condensed Bold', sans-serif ;
		float:left;
		font-size:22px;
	  padding-left:25px;
	  padding-right:25px;
	  padding-top:12px;
	  padding-bottom:12px;
	  color:white;
		a {
			text-decoration:none;
			text-transform:uppercase;
			color:white;
		}
		a:hover {
			color:#efefef;
		}
	}
}

.navbar {
	width:100%;
	height:50px;
	.logo {
		font-family: 'TradeGothic Condensed Bold', sans-serif ;
		width:100%;
		height:50px;
		font-size:30px;
		line-height:50px;
		color:white;
		background:#3cb3d0;
		img {
			padding: 10px 10px 10px 15px;
			height:30px;
		}
		.title {
			padding-left:5px;
			a, a:visited {
				text-decoration:none;
				color:white;
			}
			a:hover {
				color:#efefef;
			}
		}
	}
}



#fullwidth {
	position: relative;
	width: auto;
	overflow:hidden;
	clear:left;
	margin:0;
	height:400px;
	background: #181818;
}

.pika-image {
	position: relative;
	height:400px;
	margin:0 auto;
	text-align:center;
	.animation, .main-image {
		position: absolute;
	}
	.animation {
		display: none;
		z-index:2;
	}
	img {
		border:0;
		height:400px;
	}
	.caption {
		font-family: 'TradeGothic Condensed Bold', sans-serif ;
		position: absolute; 
		background: white;
		opacity:0.7;
		font-size: 14px;
		padding: 10px;
		text-align: right;
		top: 80px;
		right: 80px;
		max-width:250px;
		p {
			font-family: 'TradeGothic', sans-serif ;
			padding: 0;
			margin: 0;
			line-height: 16px;
			a, a:visited {
				text-decoration:none;
			}
			a:hover {
				color:#a5a5a5;
			}
		}
		h1 {
			margin-top:0px;
			margin-bottom:0px;
		}
	}
}

.pika-imgnav {
	a {
		position: absolute;
		text-indent: -5000px;
		display: block;
		z-index:3;
		previous {
			background:url('../images/arrows.png') -30px 0 no-repeat;
			display:block;
			width:30px;
			height:30px;
			top: 200px;
			left: 10px;
			cursor:pointer;
		}
		next {
			background:url('../images/arrows.png') 0 0 no-repeat;
			display:block;
			width:30px;
			height:30px;
			top: 200px;
			right: 10px;
			cursor:pointer;
		}
		play {
			background:url('../images/arrows.png') -30px -30px no-repeat;
			display:block;
			width:30px;
			height:30px;
			top: 200px;
			left:49%;
			display: none;
			cursor:pointer;
		}
		pause {
			background:url('../images/arrows.png') 0px -30px no-repeat;
			display:block;
			width:30px;
			height:30px;
			top: 200px;
			left:49%;
			display:none;
			cursor:pointer;
		}
	}
}

#fullwidth ul {
	display:hidden;
}

#body_content {
	padding:0px 30px 30px 30px;
	
}
#blog_posts {
	padding-right:30px;
	border-right: 1.5px solid #a5a5a5;
	margin:0;
}

#show_blog_post, .blog_post {
	margin:20px 0 0 0;

}

.row {
	background:#efefef;
}

.logo_color {
	background:#3cb3d0;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	margin-top:5px;
	img {
		width:100%;
	}
}

section .event_description {
	margin-top:20px;
}

section .post {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	margin-top:5px;
	a, a:visited {
		color: #3cb3d0;
		text-decoration:none;
	}	
	a:hover {
		color: #2596b2;	
	}
}

section .details {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	margin-top:10px;
}

section .show {
	margin-top:-40px;
}

footer p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:10px;
	margin-left:30px;
	margin-right:30px;
	text-align:center;
	font-size:12px;
	border-top:1.5px solid #a5a5a5;
}

.pagination {
	margin-top:15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	.disabled, .current {
		color: #a5a5a5;
		font-style:normal;
	}
	a, a:visited {
		text-decoration:none;
		color:#3cb3d0;
		text-decoration:none;
	}
	a:hover {
		color:#2596b2;
		text-decoration:none;
	}
}

.darkgray {
	background:#a5a5a5;
}

.inquiries {
	margin-top:15px;
}

.event_image {
	max-height:150px;
	max-width:1080px;
	width:100%;
	position:relative;
	margin-bottom:10px;
	overflow:hidden;
	.description {
		position:absolute;
		top:50px;
		left:50px;
		font-family: 'TradeGothic Condensed Bold', sans-serif ;
		font-size:18px;
		background:white;
		opacity:0.7;
		padding:15px;
		cursor:pointer;
	}
}

.upcoming {
	margin-top:20px;
	li {
		font-family: 'TradeGothic Condensed Bold', sans-serif ;
		text-transform:uppercase;
		list-style:none;
		color:#a5a5a5;
		margin-bottom:15px;
		font-size:20px;
	}
	a, a:visited {
		text-decoration:none;
		color:#3cb3d0;;
	}
	a:hover {
		color:#2596b2;
	}
}

h1 {
	font-family: 'TradeGothic Condensed Bold', sans-serif ;
	text-transform:uppercase;
	color:#3cb3d0;
	font-size:28px;
	margin-top:0;
	margin-bottom:0;
	line-height:30px;
	a, a:visited {
		color:#3cb3d0;
		font-size:28px;
		text-decoration:none;
	}
	a:hover { 
		color: #2596b2;
	}
	.gray {
		color:#a5a5a5;
	}
}

#body_content_title {
	margin-top:30px;
	margin-bottom:30px;
}

.officer {
	.image {
		width:100%;
		float:left;
	}
	.text {
	}
	.major {
		margin-top:10px;
	}
	h1 {
		margin-top:0px;
		margin-bottom:3px;
		line-height:28px;
	}
	.blurb {
		margin-top:10px;
	}
}